# Database Configuration (Port 5433 to avoid conflict with native Windows PostgreSQL)
POSTGRES_DB=food_delivery_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_PORT=5433

# Redis Configuration
REDIS_PORT=6379

# Apache Kafka Configuration
KAFKA_PORT=9092
KAFKA_UI_PORT=8085
